@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400&display=swap');

* {
    font-family: 'Dosis', sans-serif;
    font-size: 40px;
}

html {
    background-color: #e2cfc999; /*#857f7499; */
}
.frame {
    padding: 15px;
    box-shadow: 0 0 10px 5px #ffffff33;
    background-color: #d1aca5; /*#595358; */
    width: fit-content;
    border-radius: 20px;
}
 
.toggle input {
    background: url('./images/moon.png') 4px 5px no-repeat; 
    background-size: 30px 30px; 
    height: 30px;
    width: 30px; 
    padding: 5px;
    text-indent: -2000%; 
}

.display {
    height: 70px;
    padding: 10px;
    margin: 5px;
    color: #ffffff;  /*#a4ac96;*/
    font-weight: 600;
    font-size: 50px;
    background-color: #ffffff33; /* #857f7455; */
    border-radius: 5px;
    text-align: right;
}

div.row {
    display: flex;
    justify-content: space-around;
}

button {
    width: 90px;
    height: 90px;
    margin: 10px;
    padding: 2px;
    border-radius: 5px;
    border: none;
    background-color: #e2cfc9;  /*#857f74; */
    color: white;
    /* color: #eaf4f4;  #ffffff; #a4ac96; */
}

button:hover {
    transform: scale(1.15);
    transition: all .15s ease-in-out;
}
body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    display: flex;
    flex-direction: column;
} 


.footer span{
    font-size: 20px;
    margin: 10px;
}

.footer {
    margin-top: 5px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.eq {
    width: 200px;
    height: 90px;
    border-radius: 5px;
}

